body{
    background: #FEC7D7;;
}
.btn{
    background: #0E172C;
    color: #fff  ;
    border-radius: 5vw;
}
.Link{
    text-decoration: none;
    color: #fff;
}
.Link:hover{
    color: #fff;
}

.tamaño{
    width: 10vw;
    background-color: #85D1CE;
    border-radius: 100%;
    padding: 0.5vw;
    float: left;
}
.boton_1{
    width: 30vw;
    justify-content: center;
    align-items: center;
    margin: 3vw;
}
.boton_1:hover{
    color: #fff;
}
.text{
    font-size: 4vw;
    float: right;
}
#home{
    width: 20vw;
    border-radius: 5vw;
    color: #85D1CE;
    background-color: #0E172C;
}
.boton_2{
    background: #fff;
    color: black;
}
#chester{
    background: url(../img/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#candy{
    background: url(../img/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#rocky{
    background: url(../img/6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#nene{
    background: url(../img/7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#matilde{
    background: url(../img/12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pelusa{
    background: url(../img/9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#kity{
    background: url(../img/10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bombon{
    background: url(../img/11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#myImg{
    border-radius: 100%;
    width: 20%;
    justify-content: center;
    text-align: center;
}
.text-perfil{
    font-size: 2vw;
}
.Adopta{
    border-radius: 3vh;
    margin: 0;
    padding: 50% 0 0 0;
    float:left;
}