body{
    background: #FEC7D7;;
}
.btn{
    background: #0E172C;
    color: #fff  ;
    border-radius: 5vw;
}
.Link{
    text-decoration: none;
    color: #fff;
}
.Link:hover{
    color: #fff;
}

.tamaño{
    width: 10vw;
    background-color: #85D1CE;
    border-radius: 100%;
    padding: 0.5vw;
    float: left;
}
.boton_1{
    width: 30vw;
    justify-content: center;
    align-items: center;
    margin: 3vw;
}
.boton_1:hover{
    color: #fff;
}
.text{
    font-size: 4vw;
    float: right;
    justify-content: center;
    text-align: center;
    margin: 1.3vw 1.5vw 0 0;
    text-decoration: none;
    color: #fff;
}
.text:hover{
    color: #fff;
}
#home{
    width: 20vw;
    border-radius: 5vw;
    color: #85D1CE;
    background-color: #0E172C;
}
.boton_2{
    background: #fff;
    color: black;
}
#Chester{
    background: url(../img/chester.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Candy{
    background: url(../img/candy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Rocky{
    background: url(../img/rocky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Nene{
    background: url(../img/nene.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Matilde{
    background: url(../img/matilde.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Pelusa{
    background: url(../img/pelusa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Kity{
    background: url(../img/kity.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Bombon{
    background: url(../img/bombon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#myImg{
    border-radius: 100%;
    width: 20%;
    justify-content: center;
    text-align: center;
}
.text-perfil{
    font-size: 2vw;
}
.Adopta{
    border-radius: 3vh;
    margin: 1vw;
    padding: 50% 0 0 0;
    float:left;
    justify-content: center;
    align-items: center;
}
.contenedorMascotas{
    color: #000000;
    font-size: 2vw;
    margin: 2vw;
    justify-content: center;
    align-items: center;
}
.btnes{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.textoMascota{
    color: #000000;
    text-decoration: none;
}
.textoMascota:hover{
    color: #000000;
}
.infoMascota{
    background-color: #fff;
    padding: 2vw;
    border-radius: 2vw;
}
.boton{
    background-color: #fff;
    padding: 1vw;
    border: 0;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    float: right;
}
.genero{
    align-items:"right";
}
#espacioMascotas{
    margin-left: 12.3vw;
}
.mascota{
    width: 50vw;
}
.mascotaFav{
    width: 25vw;
}